.group {
  gap: 16px;
  display: flex;
  align-items: center;

  border: none;

  label {
    position: relative;

    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    font-size: 12px;
    color: #8C91A2;
  }

  input {
    appearance: none;

    cursor: pointer;

    width: 18px;
    height: 18px;

    &:checked::after,
    &:before {
      content: "";

      position: absolute;
      top: 50%;
      right: 0;

      transform: translateY(-50%);

      width: 18px;
      height: 18px;

      border-radius: 50%;
    }

    &:before {
      border: 1px solid #8e8e93;
    }

    &:checked::before {
      background-color: #292929;
    }
  }
}
